<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../css/materialize.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../css/footer.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../css/index.css" />
</head>
<body>

<header th:include="fragments/header :: header"></header>
<aside th:include="fragments/aside" :: aside>
    <!--<div class="collection left col 5"-->
         <!--th:each="bookCategory : ${BookCategories}"">-->
        <!--<a href="#!" class="collection-item" th:text="${bookCategory}"></a>-->
    <!--</div>-->
</aside>
<main class="center">
    <div class="container">
    </div>
</main>
<footer th:include="fragments/footer :: footer"></footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}" src="../../js/materialize.js"></script>
</body>
</html>