<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../css/materialize.css" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../../css/footer.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../css/index.css" />

    <script>
        function addItemToCard(bookId) {
            $.ajax({
                url : '/api/card/add?id='+bookId,
                datatype : 'json',
                type : "post",
                contentType : "application/json",
                success : function(data) {
                    console.log(data);
                }
            });
        }
    </script>
</head>
<body>

<header th:include="fragments/header :: header"/>
<aside th:include="fragments/aside :: aside"/>
<main>
    <div class="container row">
        <h2 class="header center">Новинки</h2>
        <div id="card-container" >
        <!--/*@thymesVar id="book" type="com.goodbook.book.model.BookDto"*/-->
        <div th:each="book : ${Books}">
            <div class="col s12 m12 l5 offset-l1" style="height: 270px" >
                <div class="card horizontal"  style="height: 220px;">
                    <div class="card-image">
                        <img  src="#" th:src="${book.getUrlImage()}" alt="" height="220px;"/>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <a th:href="@{'/books/book/' + ${book.getId()}}">
                                <span class="card-title grey-text text-darken-4" th:text="${book.getName()}"></span>
                            </a>
                            <p th:text="${book.getAuthor()}" class="card-subtitle grey-text text-darken-2"/>
                            <div class="row card-row">
                                            <span class="text-darken-2 card-info">
                                                <i class="small material-icons">sort</i>
                                                <p th:text="${book.getCategory().getCategoryName()}"/>
                                            </span>
                            </div>
                            <div class="row card-row">
                                <span class="left" th:text="'Цена: ' + ${book.getPrice()} + ' руб  '"></span>
                                <a class="right waves-effect waves-light btn red" th:onclick="'addItemToCard(\'' +${book.getId()} +'\')'">
                                    <i class="large material-icons ">add_shopping_cart</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>
<footer th:include="fragments/footer :: footer"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}" src="../../js/materialize.js"></script>
</body>
</html>